In [1]:
# First we importing the required libraries for the Crime in India Project analysis
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
from scipy.stats import pearsonr, spearmanr
from scipy.stats import chi2_contingency

Phase-1 Data Collection Preparation part

In [2]:
# We have uploaded the given csv file in our local python and importing the same file from there to the Data Frame here
ipc_2001_2012=pd.read_csv('01_District_wise_crimes_committed_IPC_2001_2012.csv')

In [3]:
ipc_2001_2012

,STATE/UT,DISTRICT,YEAR,MURDER,ATTEMPT TO MURDER,CULPABLE HOMICIDE NOT AMOUNTING TO MURDER,RAPE,CUSTODIAL RAPE,OTHER RAPE,KIDNAPPING & ABDUCTION,...,ARSON,HURT/GREVIOUS HURT,DOWRY DEATHS,ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY,INSULT TO MODESTY OF WOMEN,CRUELTY BY HUSBAND OR HIS RELATIVES,IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES,CAUSING DEATH BY NEGLIGENCE,OTHER IPC CRIMES,TOTAL IPC CRIMES
0,ANDHRA PRADESH,ADILABAD,2001,101,60,17,50,0,50,46,...,30,1131,16,149,34,175,0,181,1518,4154
1,ANDHRA PRADESH,ANANTAPUR,2001,151,125,1,23,0,23,53,...,69,1543,7,118,24,154,0,270,754,4125
2,ANDHRA PRADESH,CHITTOOR,2001,101,57,2,27,0,27,59,...,38,2088,14,112,83,186,0,404,1262,5818
3,ANDHRA PRADESH,CUDDAPAH,2001,80,53,1,20,0,20,25,...,23,795,17,126,38,57,0,233,1181,3140
4,ANDHRA PRADESH,EAST GODAVARI,2001,82,67,1,23,0,23,49,...,41,1244,12,109,58,247,0,431,2313,6507
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9012,LAKSHADWEEP,LAKSHADWEEP,2012,0,0,0,0,0,0,0,...,3,3,0,1,0,1,0,0,32,60
9013,LAKSHADWEEP,TOTAL,2012,0,0,0,0,0,0,0,...,3,3,0,1,0,1,0,0,32,60
9014,PUDUCHERRY,KARAIKAL,2012,5,6,2,6,0,6,2,...,1,186,0,2,0,1,0,44,392,787
9015,PUDUCHERRY,PUDUCHERRY,2012,24,21,10,7,0,7,17,...,20,632,0,7,2,5,0,219,1668,3494
9016,PUDUCHERRY,TOTAL,2012,29,27,12,13,0,13,19,...,21,818,0,9,2,6,0,263,2060,4281

In [4]:
ipc_2001_2012.isna().sum()

STATE/UT                                               0
DISTRICT                                               0
YEAR                                                   0
MURDER                                                 0
ATTEMPT TO MURDER                                      0
CULPABLE HOMICIDE NOT AMOUNTING TO MURDER              0
RAPE                                                   0
CUSTODIAL RAPE                                         0
OTHER RAPE                                             0
KIDNAPPING & ABDUCTION                                 0
KIDNAPPING AND ABDUCTION OF WOMEN AND GIRLS            0
KIDNAPPING AND ABDUCTION OF OTHERS                     0
DACOITY                                                0
PREPARATION AND ASSEMBLY FOR DACOITY                   0
ROBBERY                                                0
BURGLARY                                               0
THEFT                                                  0
AUTO THEFT                                             0
OTHER THEFT                                            0
RIOTS                                                  0
CRIMINAL BREACH OF TRUST                               0
CHEATING                                               0
COUNTERFIETING                                         0
ARSON                                                  0
HURT/GREVIOUS HURT                                     0
DOWRY DEATHS                                           0
ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY    0
INSULT TO MODESTY OF WOMEN                             0
CRUELTY BY HUSBAND OR HIS RELATIVES                    0
IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES            0
CAUSING DEATH BY NEGLIGENCE                            0
OTHER IPC CRIMES                                       0
TOTAL IPC CRIMES                                       0
dtype: int64

In [5]:
ipc_2001_2012.dtypes

STATE/UT                                               object
DISTRICT                                               object
YEAR                                                    int64
MURDER                                                  int64
ATTEMPT TO MURDER                                       int64
CULPABLE HOMICIDE NOT AMOUNTING TO MURDER               int64
RAPE                                                    int64
CUSTODIAL RAPE                                          int64
OTHER RAPE                                              int64
KIDNAPPING & ABDUCTION                                  int64
KIDNAPPING AND ABDUCTION OF WOMEN AND GIRLS             int64
KIDNAPPING AND ABDUCTION OF OTHERS                      int64
DACOITY                                                 int64
PREPARATION AND ASSEMBLY FOR DACOITY                    int64
ROBBERY                                                 int64
BURGLARY                                                int64
THEFT                                                   int64
AUTO THEFT                                              int64
OTHER THEFT                                             int64
RIOTS                                                   int64
CRIMINAL BREACH OF TRUST                                int64
CHEATING                                                int64
COUNTERFIETING                                          int64
ARSON                                                   int64
HURT/GREVIOUS HURT                                      int64
DOWRY DEATHS                                            int64
ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY     int64
INSULT TO MODESTY OF WOMEN                              int64
CRUELTY BY HUSBAND OR HIS RELATIVES                     int64
IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES             int64
CAUSING DEATH BY NEGLIGENCE                             int64
OTHER IPC CRIMES                                        int64
TOTAL IPC CRIMES                                        int64
dtype: object

In [6]:
ipc_2001_2012.columns

Index(['STATE/UT', 'DISTRICT', 'YEAR', 'MURDER', 'ATTEMPT TO MURDER',
       'CULPABLE HOMICIDE NOT AMOUNTING TO MURDER', 'RAPE', 'CUSTODIAL RAPE',
       'OTHER RAPE', 'KIDNAPPING & ABDUCTION',
       'KIDNAPPING AND ABDUCTION OF WOMEN AND GIRLS',
       'KIDNAPPING AND ABDUCTION OF OTHERS', 'DACOITY',
       'PREPARATION AND ASSEMBLY FOR DACOITY', 'ROBBERY', 'BURGLARY', 'THEFT',
       'AUTO THEFT', 'OTHER THEFT', 'RIOTS', 'CRIMINAL BREACH OF TRUST',
       'CHEATING', 'COUNTERFIETING', 'ARSON', 'HURT/GREVIOUS HURT',
       'DOWRY DEATHS', 'ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY',
       'INSULT TO MODESTY OF WOMEN', 'CRUELTY BY HUSBAND OR HIS RELATIVES',
       'IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES',
       'CAUSING DEATH BY NEGLIGENCE', 'OTHER IPC CRIMES', 'TOTAL IPC CRIMES'],
      dtype='object')

In [7]:
# Searched Area of Indian States in link- https://currentaffairs.adda247.com/largest-state-in-india/, saved in Excel File,
# uploaded in local python and imported to Data Frame here
starea=pd.read_excel('Area of Indian States.xlsx')

In [8]:
starea

    S. No.              State  Area (sq. km)
0        1          Rajasthan         342239
1        2     Madhya Pradesh         308245
2        3        Maharashtra         307713
3        4      Uttar Pradesh         240928
4        5            Gujarat         196024
5        6          Karnataka         191791
6        7     Andhra Pradesh         162968
7        8             Odisha         155707
8        9       Chhattisgarh         135191
9       10         Tamil Nadu         130058
10      11          Telangana         112077
11      12              Bihar          94163
12      13        West Bengal          88752
13      14  Arunachal Pradesh          83743
14      15          Jharkhand          79714
15      16              Assam          78438
16      17   Himachal Pradesh          55673
17      18        Uttarakhand          53483
18      19             Punjab          50362
19      20            Haryana          44212
20      21             Kerala          38963
21      22          Meghalaya          22429
22      23            Manipur          22327
23      24            Mizoram          21081
24      25           Nagaland          16579
25      26            Tripura          10486
26      27             Sikkim           7096
27      28                Goa           3702

In [9]:
# Searched Population of Indian States in link- https://currentaffairs.adda247.com/largest-state-in-india/, saved in Excel File,
# uploaded in local python and imported to Data Frame here
stpop=pd.read_excel('Population of Indian States.xlsx')

In [10]:
stpop

    S. No.              State  Population
0        1      Uttar Pradesh   199812341
1        2        Maharashtra   112372333
2        3              Bihar   104099452
3        4        West Bengal    91276115
4        5     Andhra Pradesh    84580777
5        6     Madhya Pradesh    72626809
6        7         Tamil Nadu    72147030
7        8          Rajasthan    68548437
8        9          Karnataka    61095297
9       10            Gujarat    60439692
10      11             Odisha    41974218
11      12          Telangana    35198978
12      13             Kerala    33406061
13      14          Jharkhand    32988134
14      15              Assam    31205576
15      16             Punjab    27743338
16      17            Haryana    25545198
17      18       Chhattisgarh    25351462
18      19        Uttarakhand    10086292
19      20   Himachal Pradesh     6864602
20      21            Tripura     3673917
21      22          Meghalaya     2966889
22      23            Manipur     2855794
23      24           Nagaland     1978502
24      25                Goa     1458502
25      26  Arunachal Pradesh     1458545
26      27            Mizoram     1097206
27      28             Sikkim      610577

In [11]:
starea=starea.rename(columns={'State':'STATE/UT'})

In [12]:
starea['STATE/UT']=starea['STATE/UT'].str.upper()

In [13]:
# Merging the Area of States column with given ipc crime dataset
ipc_2001_2012_m=pd.merge(ipc_2001_2012, starea, on='STATE/UT', how='outer')

In [14]:
ipc_2001_2012_m

,STATE/UT,DISTRICT,YEAR,MURDER,ATTEMPT TO MURDER,CULPABLE HOMICIDE NOT AMOUNTING TO MURDER,RAPE,CUSTODIAL RAPE,OTHER RAPE,KIDNAPPING & ABDUCTION,...,DOWRY DEATHS,ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY,INSULT TO MODESTY OF WOMEN,CRUELTY BY HUSBAND OR HIS RELATIVES,IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES,CAUSING DEATH BY NEGLIGENCE,OTHER IPC CRIMES,TOTAL IPC CRIMES,S. No.,Area (sq. km)
0,ANDHRA PRADESH,ADILABAD,2001.0,101.0,60.0,17.0,50.0,0.0,50.0,46.0,...,16.0,149.0,34.0,175.0,0.0,181.0,1518.0,4154.0,7.0,162968.0
1,ANDHRA PRADESH,ANANTAPUR,2001.0,151.0,125.0,1.0,23.0,0.0,23.0,53.0,...,7.0,118.0,24.0,154.0,0.0,270.0,754.0,4125.0,7.0,162968.0
2,ANDHRA PRADESH,CHITTOOR,2001.0,101.0,57.0,2.0,27.0,0.0,27.0,59.0,...,14.0,112.0,83.0,186.0,0.0,404.0,1262.0,5818.0,7.0,162968.0
3,ANDHRA PRADESH,CUDDAPAH,2001.0,80.0,53.0,1.0,20.0,0.0,20.0,25.0,...,17.0,126.0,38.0,57.0,0.0,233.0,1181.0,3140.0,7.0,162968.0
4,ANDHRA PRADESH,EAST GODAVARI,2001.0,82.0,67.0,1.0,23.0,0.0,23.0,49.0,...,12.0,109.0,58.0,247.0,0.0,431.0,2313.0,6507.0,7.0,162968.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9013,PUDUCHERRY,TOTAL,2011.0,32.0,22.0,12.0,7.0,0.0,7.0,12.0,...,1.0,35.0,16.0,10.0,0.0,243.0,2119.0,4362.0,NaN,NaN
9014,PUDUCHERRY,KARAIKAL,2012.0,5.0,6.0,2.0,6.0,0.0,6.0,2.0,...,0.0,2.0,0.0,1.0,0.0,44.0,392.0,787.0,NaN,NaN
9015,PUDUCHERRY,PUDUCHERRY,2012.0,24.0,21.0,10.0,7.0,0.0,7.0,17.0,...,0.0,7.0,2.0,5.0,0.0,219.0,1668.0,3494.0,NaN,NaN
9016,PUDUCHERRY,TOTAL,2012.0,29.0,27.0,12.0,13.0,0.0,13.0,19.0,...,0.0,9.0,2.0,6.0,0.0,263.0,2060.0,4281.0,NaN,NaN
9017,TELANGANA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.0,112077.0

In [15]:
# Searched literacy Rate of Indian States in link- https://www.careindia.org/blog/literacy-rate-in-india/, saved in Excel File,
# uploaded in local python and imported to Data Frame here
stlit=pd.read_excel('Literacy Rate of Indian States.xlsx')

In [16]:
stlit

                          State Average Literacy Rate   Male Female
0                Andhra Pradesh                  66.4  75.56  59.74
1             Arunachal Pradesh                 66.95  73.69  59.57
2                         Assam                 73.18  78.81  67.27
3                         Bihar                 69.82  73.39  53.33
4                  Chhattisgarh                 71.04  81.45  60.59
5                           Goa                  87.4  92.81  81.84
6                       Gujarat                 79.31  87.23  70.73
7                       Haryana                 76.64  85.38  66.77
8              Himachal Pradesh                 83.78  90.83   76.6
9                     Jharkhand                  66.4  78.45  56.21
10                    Karnataka                  75.6  82.85  68.13
11                       Kerala                 93.91  96.02  91.98
12               Madhya Pradesh                 70.63  80.53  60.02
13                  Maharashtra                 82.91  89.82  75.48
14                      Manipur                 79.85  86.49  73.17
15                    Meghalaya                 75.48  77.17  73.78
16                      Mizoram                 91.58  93.72   89.4
17                     Nagaland                 80.11  83.29  76.69
18                       Odisha                 73.45   82.4  64.36
19                       Punjab                 76.68  81.48  71.34
20                    Rajasthan                 67.06  80.51  52.66
21                       Sikkim                  82.2  87.29  76.43
22                   Tamil Nadu                 80.33  86.81  73.86
23                    Telangana                     –      –      –
24                      Tripura                 87.75  92.18  83.15
25                  Uttarakhand                 79.63  88.33   70.7
26                Uttar Pradesh                 69.72  79.24  59.26
27                  West Bengal                 77.08  82.67  71.16
28  Andaman and Nicobar Islands                 86.27  90.11  81.84
29                   Chandigarh                 86.43  90.54  81.38
30       Dadra and Nagar Haveli                 77.65  86.46  65.93
31                  Daman & Diu                 87.07  91.48  79.59
32                        Delhi                 86.34  91.03  80.93
33                  Lakshadweep                 92.28  96.11  88.25
34                   Puducherry                 86.55  92.12  81.22

In [17]:
# Searched unemployment rate of Indian States in link- https://en.wikipedia.org/wiki/List_of_states_and_union_territories_of_India_by_unemployment_rate, saved in Excel File,
# uploaded in local python and imported to Data Frame here
unemp=pd.read_excel('Unemployment Rate of Indian States.xlsx')

In [18]:
unemp

   State or union territory  Unemployment rate (%)
0            Andhra Pradesh                    4.8
1                     Assam                    0.4
2                     Bihar                   11.4
3              Chhattisgarh                    0.1
4                     Delhi                    9.6
5                       Goa                   10.9
6                   Gujarat                    1.6
7                   Haryana                   22.9
8          Himachal Pradesh                    9.2
9         Jammu and Kashmir                   23.2
10                Jharkhand                   12.2
11                Karnataka                    3.8
12                   Kerala                    6.4
13           Madhya Pradesh                    0.9
14              Maharashtra                    4.0
15                Meghalaya                    2.3
16                  Mizoram                    NaN
17                 Nagaland                    NaN
18                   Odisha                    5.9
19               Puducherry                    7.3
20                   Punjab                    7.0
21                Rajasthan                   23.8
22                   Sikkim                    NaN
23               Tamil Nadu                    4.1
24                Telangana                    8.3
25                  Tripura                   17.0
26            Uttar Pradesh                    4.0
27              Uttarakhand                    0.5
28              West Bengal                    3.3

In [19]:
stlit=stlit.rename(columns={'State':'STATE/UT'})

In [20]:
unemp=unemp.rename(columns={'State or union territory':'STATE/UT'})

In [21]:
unemp

             STATE/UT  Unemployment rate (%)
0      Andhra Pradesh                    4.8
1               Assam                    0.4
2               Bihar                   11.4
3        Chhattisgarh                    0.1
4               Delhi                    9.6
5                 Goa                   10.9
6             Gujarat                    1.6
7             Haryana                   22.9
8    Himachal Pradesh                    9.2
9   Jammu and Kashmir                   23.2
10          Jharkhand                   12.2
11          Karnataka                    3.8
12             Kerala                    6.4
13     Madhya Pradesh                    0.9
14        Maharashtra                    4.0
15          Meghalaya                    2.3
16            Mizoram                    NaN
17           Nagaland                    NaN
18             Odisha                    5.9
19         Puducherry                    7.3
20             Punjab                    7.0
21          Rajasthan                   23.8
22             Sikkim                    NaN
23         Tamil Nadu                    4.1
24          Telangana                    8.3
25            Tripura                   17.0
26      Uttar Pradesh                    4.0
27        Uttarakhand                    0.5
28        West Bengal                    3.3

In [22]:
stlit

                       STATE/UT Average Literacy Rate   Male Female
0                Andhra Pradesh                  66.4  75.56  59.74
1             Arunachal Pradesh                 66.95  73.69  59.57
2                         Assam                 73.18  78.81  67.27
3                         Bihar                 69.82  73.39  53.33
4                  Chhattisgarh                 71.04  81.45  60.59
5                           Goa                  87.4  92.81  81.84
6                       Gujarat                 79.31  87.23  70.73
7                       Haryana                 76.64  85.38  66.77
8              Himachal Pradesh                 83.78  90.83   76.6
9                     Jharkhand                  66.4  78.45  56.21
10                    Karnataka                  75.6  82.85  68.13
11                       Kerala                 93.91  96.02  91.98
12               Madhya Pradesh                 70.63  80.53  60.02
13                  Maharashtra                 82.91  89.82  75.48
14                      Manipur                 79.85  86.49  73.17
15                    Meghalaya                 75.48  77.17  73.78
16                      Mizoram                 91.58  93.72   89.4
17                     Nagaland                 80.11  83.29  76.69
18                       Odisha                 73.45   82.4  64.36
19                       Punjab                 76.68  81.48  71.34
20                    Rajasthan                 67.06  80.51  52.66
21                       Sikkim                  82.2  87.29  76.43
22                   Tamil Nadu                 80.33  86.81  73.86
23                    Telangana                     –      –      –
24                      Tripura                 87.75  92.18  83.15
25                  Uttarakhand                 79.63  88.33   70.7
26                Uttar Pradesh                 69.72  79.24  59.26
27                  West Bengal                 77.08  82.67  71.16
28  Andaman and Nicobar Islands                 86.27  90.11  81.84
29                   Chandigarh                 86.43  90.54  81.38
30       Dadra and Nagar Haveli                 77.65  86.46  65.93
31                  Daman & Diu                 87.07  91.48  79.59
32                        Delhi                 86.34  91.03  80.93
33                  Lakshadweep                 92.28  96.11  88.25
34                   Puducherry                 86.55  92.12  81.22

In [23]:
stlit['STATE/UT']=stlit['STATE/UT'].str.upper()

In [24]:
unemp['STATE/UT']=unemp['STATE/UT'].str.upper()

In [25]:
# Merging the Literacy Rate of States column with given ipc crime dataset
ipc_2001_2012_m=pd.merge(ipc_2001_2012_m, stlit, on='STATE/UT', how='outer')

In [26]:
# Merging the Unemployment Rate of States column with given ipc crime dataset
ipc_2001_2012_m=pd.merge(ipc_2001_2012_m, unemp, on='STATE/UT', how='outer')

In [27]:
ipc_2001_2012_m.sample()

,STATE/UT,DISTRICT,YEAR,MURDER,ATTEMPT TO MURDER,CULPABLE HOMICIDE NOT AMOUNTING TO MURDER,RAPE,CUSTODIAL RAPE,OTHER RAPE,KIDNAPPING & ABDUCTION,...,IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES,CAUSING DEATH BY NEGLIGENCE,OTHER IPC CRIMES,TOTAL IPC CRIMES,S. No.,Area (sq. km),Average Literacy Rate,Male,Female,Unemployment rate (%)
3594,KARNATAKA,BAGALKOT,2012.0,51.0,43.0,1.0,11.0,0.0,11.0,17.0,...,2.0,0.0,1247.0,2297.0,6.0,191791.0,75.6,82.85,68.13,3.8

In [28]:
ipc_2001_2012_m=ipc_2001_2012_m.rename(columns={'Male':'Male Literacy Rate'})

In [29]:
ipc_2001_2012_m=ipc_2001_2012_m.rename(columns={'Female':'Female Literacy Rate'})

In [30]:
ipc_2001_2012_m.sample()

,STATE/UT,DISTRICT,YEAR,MURDER,ATTEMPT TO MURDER,CULPABLE HOMICIDE NOT AMOUNTING TO MURDER,RAPE,CUSTODIAL RAPE,OTHER RAPE,KIDNAPPING & ABDUCTION,...,IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES,CAUSING DEATH BY NEGLIGENCE,OTHER IPC CRIMES,TOTAL IPC CRIMES,S. No.,Area (sq. km),Average Literacy Rate,Male Literacy Rate,Female Literacy Rate,Unemployment rate (%)
1164,BIHAR,GAYA,2006.0,158.0,178.0,28.0,25.0,0.0,25.0,68.0,...,0.0,215.0,774.0,3424.0,12.0,94163.0,69.82,73.39,53.33,11.4

In [31]:
ipc_2001_2012_m.shape

(9022, 39)

In [32]:
ipc_2001_2012_m.isna().sum()

STATE/UT                                                  0
DISTRICT                                                  5
YEAR                                                      5
MURDER                                                    5
ATTEMPT TO MURDER                                         5
CULPABLE HOMICIDE NOT AMOUNTING TO MURDER                 5
RAPE                                                      5
CUSTODIAL RAPE                                            5
OTHER RAPE                                                5
KIDNAPPING & ABDUCTION                                    5
KIDNAPPING AND ABDUCTION OF WOMEN AND GIRLS               5
KIDNAPPING AND ABDUCTION OF OTHERS                        5
DACOITY                                                   5
PREPARATION AND ASSEMBLY FOR DACOITY                      5
ROBBERY                                                   5
BURGLARY                                                  5
THEFT                                                     5
AUTO THEFT                                                5
OTHER THEFT                                               5
RIOTS                                                     5
CRIMINAL BREACH OF TRUST                                  5
CHEATING                                                  5
COUNTERFIETING                                            5
ARSON                                                     5
HURT/GREVIOUS HURT                                        5
DOWRY DEATHS                                              5
ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY       5
INSULT TO MODESTY OF WOMEN                                5
CRUELTY BY HUSBAND OR HIS RELATIVES                       5
IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES               5
CAUSING DEATH BY NEGLIGENCE                               5
OTHER IPC CRIMES                                          5
TOTAL IPC CRIMES                                          5
S. No.                                                  684
Area (sq. km)                                           684
Average Literacy Rate                                   566
Male Literacy Rate                                      566
Female Literacy Rate                                    566
Unemployment rate (%)                                  1277
dtype: int64

In [33]:
ipc_2001_2012_m

,STATE/UT,DISTRICT,YEAR,MURDER,ATTEMPT TO MURDER,CULPABLE HOMICIDE NOT AMOUNTING TO MURDER,RAPE,CUSTODIAL RAPE,OTHER RAPE,KIDNAPPING & ABDUCTION,...,IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES,CAUSING DEATH BY NEGLIGENCE,OTHER IPC CRIMES,TOTAL IPC CRIMES,S. No.,Area (sq. km),Average Literacy Rate,Male Literacy Rate,Female Literacy Rate,Unemployment rate (%)
0,ANDHRA PRADESH,ADILABAD,2001.0,101.0,60.0,17.0,50.0,0.0,50.0,46.0,...,0.0,181.0,1518.0,4154.0,7.0,162968.0,66.4,75.56,59.74,4.8
1,ANDHRA PRADESH,ANANTAPUR,2001.0,151.0,125.0,1.0,23.0,0.0,23.0,53.0,...,0.0,270.0,754.0,4125.0,7.0,162968.0,66.4,75.56,59.74,4.8
2,ANDHRA PRADESH,CHITTOOR,2001.0,101.0,57.0,2.0,27.0,0.0,27.0,59.0,...,0.0,404.0,1262.0,5818.0,7.0,162968.0,66.4,75.56,59.74,4.8
3,ANDHRA PRADESH,CUDDAPAH,2001.0,80.0,53.0,1.0,20.0,0.0,20.0,25.0,...,0.0,233.0,1181.0,3140.0,7.0,162968.0,66.4,75.56,59.74,4.8
4,ANDHRA PRADESH,EAST GODAVARI,2001.0,82.0,67.0,1.0,23.0,0.0,23.0,49.0,...,0.0,431.0,2313.0,6507.0,7.0,162968.0,66.4,75.56,59.74,4.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9017,TELANGANA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,11.0,112077.0,–,–,–,8.3
9018,ANDAMAN AND NICOBAR ISLANDS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,86.27,90.11,81.84,NaN
9019,DADRA AND NAGAR HAVELI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,77.65,86.46,65.93,NaN
9020,DELHI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,86.34,91.03,80.93,9.6
9021,JAMMU AND KASHMIR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23.2

In [34]:
# Exporting our ipc crime file to excel for further data preparation works
ipc_2001_2012_m.to_excel('C:\Capstone Project\output.xlsx')

In [35]:
# Saved the given sc crime csv file in local python and importing from there in data frame here
sc_2001_2012_df=pd.read_csv('02_01_District_wise_crimes_committed_against_SC_2001_2012.csv')

In [36]:
sc_2001_2012_df

,STATE/UT,DISTRICT,Year,Murder,Rape,Kidnapping and Abduction,Dacoity,Robbery,Arson,Hurt,Prevention of atrocities (POA) Act,Protection of Civil Rights (PCR) Act,Other Crimes Against SCs
0,ANDHRA PRADESH,ADILABAD,2001,0,1,4,0,0,0,3,0,15,32
1,ANDHRA PRADESH,ANANTAPUR,2001,0,4,0,0,0,0,49,21,0,53
2,ANDHRA PRADESH,CHITTOOR,2001,3,3,0,0,0,0,38,36,0,34
3,ANDHRA PRADESH,CUDDAPAH,2001,0,3,0,0,0,0,20,52,0,25
4,ANDHRA PRADESH,EAST GODAVARI,2001,1,3,0,0,0,0,3,12,63,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9013,LAKSHADWEEP,LAKSHADWEEP,2012,0,0,0,0,0,0,0,0,0,0
9014,LAKSHADWEEP,TOTAL,2012,0,0,0,0,0,0,0,0,0,0
9015,PUDUCHERRY,KARAIKAL,2012,1,0,0,0,0,0,0,0,0,0
9016,PUDUCHERRY,PUDUCHERRY,2012,1,0,0,0,0,0,0,1,20,1
9017,PUDUCHERRY,TOTAL,2012,2,0,0,0,0,0,0,1,20,1

In [37]:
# Saved the given st crime csv file in local python and importing from there in data frame here
st_2001_2012_df=pd.read_csv('02_District_wise_crimes_committed_against_ST_2001_2012.csv')

In [38]:
st_2001_2012_df

,STATE/UT,DISTRICT,Year,Murder,Rape,Kidnapping Abduction,Dacoity,Robbery,Arson,Hurt,Protection of Civil Rights (PCR) Act,Prevention of atrocities (POA) Act,Other Crimes Against STs
0,ANDHRA PRADESH,ADILABAD,2001,0,1,2,0,0,0,2,0,0,13
1,ANDHRA PRADESH,ANANTAPUR,2001,0,0,0,0,0,0,7,0,1,6
2,ANDHRA PRADESH,CHITTOOR,2001,0,0,0,0,0,0,2,0,0,0
3,ANDHRA PRADESH,CUDDAPAH,2001,0,0,0,0,0,0,2,0,2,0
4,ANDHRA PRADESH,EAST GODAVARI,2001,0,0,0,0,0,0,0,0,0,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9013,LAKSHADWEEP,LAKSHADWEEP,2012,0,0,0,0,0,0,0,0,0,0
9014,LAKSHADWEEP,TOTAL,2012,0,0,0,0,0,0,0,0,0,0
9015,PUDUCHERRY,KARAIKAL,2012,0,0,0,0,0,0,0,0,0,0
9016,PUDUCHERRY,PUDUCHERRY,2012,0,0,0,0,0,0,0,0,0,0
9017,PUDUCHERRY,TOTAL,2012,0,0,0,0,0,0,0,0,0,0

In [39]:
# Saved the given child crime csv file in local python and importing from there in data frame here
child_2001_2012_df=pd.read_csv('03_District_wise_crimes_committed_against_children_2001_2012.csv')

In [40]:
child_2001_2012_df

,STATE/UT,DISTRICT,Year,Murder,Rape,Kidnapping and Abduction,Foeticide,Abetment of suicide,Exposure and abandonment,Procuration of minor girls,Buying of girls for prostitution,Selling of girls for prostitution,Prohibition of child marriage act,Other Crimes,Total
0,ANDHRA PRADESH,ADILABAD,2001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1,ANDHRA PRADESH,ANANTAPUR,2001,19.0,12.0,29.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,66
2,ANDHRA PRADESH,CHITTOOR,2001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
3,ANDHRA PRADESH,CUDDAPAH,2001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
4,ANDHRA PRADESH,EAST GODAVARI,2001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9010,LAKSHADWEEP,LAKSHADWEEP,2012,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
9011,LAKSHADWEEP,TOTAL,2012,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
9012,PUDUCHERRY,KARAIKAL,2012,0.0,3.0,2.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,7
9013,PUDUCHERRY,PUDUCHERRY,2012,0.0,4.0,16.0,0.0,0.0,2.0,0.0,0.0,0.0,1.0,2.0,25
9014,PUDUCHERRY,TOTAL,2012,0.0,7.0,18.0,0.0,0.0,3.0,0.0,0.0,0.0,1.0,3.0,32

In [41]:
# Saved the given juvenile crime csv file in local python and importing from there in data frame here
juvenile_2001_2012_df=pd.read_csv('08_01_Juvenile_apprehended_state_IPC_2001_2010.csv')

In [42]:
juvenile_2001_2012_df

,STATE/UT,Year,CRIME,Boys 7-12 Years,Girls 7-12 Years,Boys 12-16 Years,Girls 12-16 Years,Boys 16-18 Years,Girls 16-18 Years,Total for boys all Age Groups,Total for girls all Age Groups,Grand total
0,Andhra Pradesh,2001,Murder,3,0,7,0,5,0,15,0,15
1,Andhra Pradesh,2001,Attempt to Commit Murder,2,0,0,0,11,0,13,0,13
2,Andhra Pradesh,2001,C H Not amounting to Murder,0,0,0,0,0,0,0,0,0
3,Andhra Pradesh,2001,Rape,2,0,15,0,2,1,19,1,20
4,Andhra Pradesh,2001,Custodial Rape,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
10495,Puducherry,2010,Cruelty by Husband or Relatives,0,0,0,0,0,0,0,0,0
10496,Puducherry,2010,Importation of girls from Foreign Countr,0,0,0,0,0,0,0,0,0
10497,Puducherry,2010,Causing death by negligence,0,0,0,0,0,0,0,0,0
10498,Puducherry,2010,Other IPC Crimes,0,0,1,0,2,3,3,3,6
10499,Puducherry,2010,Total IPC Crimes,0,0,8,0,31,4,39,4,43

In [43]:
# Saved the given Property stolen crime csv file in local python and importing from there in data frame here
Property_stolen_2001_2012_df=pd.read_csv('11_Property_stolen_and_recovered_nature_of_property_2001_2010.csv')

In [44]:
Property_stolen_2001_2012_df

,Area_Name,Year,Group_Name,Sub_Group_Name,Cases_Property_Recovered,Cases_Property_Stolen,Value_of_Property_Recovered,Value_of_Property_Stolen
0,Andaman & Nicobar Islands,2001,Cattle - Property,2. Cattle,0,1,0,1000
1,Andhra Pradesh,2001,Cattle - Property,2. Cattle,448,580,6490596,7233876
2,Arunachal Pradesh,2001,Cattle - Property,2. Cattle,22,34,135500,704500
3,Assam,2001,Cattle - Property,2. Cattle,149,322,683350,1816386
4,Bihar,2001,Cattle - Property,2. Cattle,144,334,896019,1911068
...,...,...,...,...,...,...,...,...
4545,Tamil Nadu,2010,Total Property(Nature),Total Property Stolen & Recovered,16125,21509,660311804,1317919190
4546,Tripura,2010,Total Property(Nature),Total Property Stolen & Recovered,192,879,5666102,33032746
4547,Uttar Pradesh,2010,Total Property(Nature),Total Property Stolen & Recovered,9130,35068,577591772,1442670414
4548,Uttarakhand,2010,Total Property(Nature),Total Property Stolen & Recovered,964,2234,47135685,123398840
4549,West Bengal,2010,Total Property(Nature),Total Property Stolen & Recovered,4548,23759,1168242161,5015168687

In [45]:
# Saved the given Police killed crime csv file in local python and importing from there in data frame here
Police_killed_2001_2012_df=pd.read_csv('13_Police_killed_or_injured_on_duty2001_2010.csv')

In [46]:
Police_killed_2001_2012_df

,Area_Name,Year,Group_Name,Sub_Group_Name,Police_Injured_By_Criminals,Police_Injured_By_Riotous_Mobs,Police_Injured_In_Accidents,Police_Injured_In_Dacoity_OperationsOther_raids,Police_Injured_In_TerroristsExtremists_Operations,Police_Injured_On_Border_Duties,Police_Injured_Total_Policemen,Police_Killed_By_Criminals,Police_Killed_By_Riotous_Mobs,Police_Killed_In_Accidents,Police_Killed_In_Dacoity_OperationsOther_raids,Police_Killed_In_TerroristsExtremists_Operations,Police_Killed_On_Border_Duties,Police_Killed_Total_Policemen
0,Andaman & Nicobar Islands,2001,Police - Assistant Sub-Inspectors,3. Assistant Sub-Inspectos,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,Andhra Pradesh,2001,Police - Assistant Sub-Inspectors,3. Assistant Sub-Inspectos,0,3,4,1,3,0,11,0,0,2,0,3,0,5
2,Arunachal Pradesh,2001,Police - Assistant Sub-Inspectors,3. Assistant Sub-Inspectos,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,Assam,2001,Police - Assistant Sub-Inspectors,3. Assistant Sub-Inspectos,0,0,0,0,1,0,1,0,0,1,0,0,0,1
4,Bihar,2001,Police - Assistant Sub-Inspectors,3. Assistant Sub-Inspectos,1,0,0,0,2,0,3,0,0,0,0,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2445,Tamil Nadu,2010,Police - Total,7. Total Police Killed or Injured,10,26,142,4,0,0,182,2,0,65,0,0,0,67
2446,Tripura,2010,Police - Total,7. Total Police Killed or Injured,0,0,0,0,2,0,2,0,0,0,0,0,2,2
2447,Uttar Pradesh,2010,Police - Total,7. Total Police Killed or Injured,6,10,9,10,0,8,43,2,1,101,0,0,1,105
2448,Uttarakhand,2010,Police - Total,7. Total Police Killed or Injured,0,0,5,0,0,0,5,0,0,15,0,0,0,15
2449,West Bengal,2010,Police - Total,7. Total Police Killed or Injured,17,265,86,23,21,0,412,2,0,20,1,2,0,25

In [47]:
# Saved the given property taken away crime csv file in local python and importing from there in data frame here
property_taken_away_2001_2012_df=pd.read_csv('17_Case_reported_and_value_of_property_taken_away_by_place_of_occurrence_2001_2012.csv')

In [48]:
property_taken_away_2001_2012_df

,STATE/UT,YEAR,Place Of Occurrence,Dacoity (Section 395-398 IPC) - Number of cases registered,Dacoity (Section 395-398 IPC) - Value Of Property Stolen (in rupees),"Robbery(Section 392-394, 397, 398 IPC) - Number of cases registered","Robbery(Section 392-394, 397, 398 IPC) - Value Of Property Stolen (in rupees)","Burglary(Section 449-452, 454, 455, 457-460 IPC) - Number of cases registered","Burglary(Section 449-452, 454, 455, 457-460 IPC) - Value Of Property Stolen (in rupees)",Theft (Section 379-382 IPC) - Number of cases registered,Theft (Section 379-382 IPC) - Value Of Property Stolen (in rupees)
0,Andhra Pradesh,2001,RESIDENTIAL PREMISES,100,4446961,177,5962460,5158,105324332,4257,53517835
1,Andhra Pradesh,2001,HIGH-WAY,57,5340335,172,6364866,31,2000574,74,1593092
2,Andhra Pradesh,2001,RIVER & SEA,2,145345,11,209330,101,1412516,110,1610200
3,Andhra Pradesh,2001,RAILWAYS,8,1750800,19,304336,6,24392,943,16418110
4,Andhra Pradesh,2001,RUNNING TRAINS,5,75000,3,164000,0,0,296,6170175
...,...,...,...,...,...,...,...,...,...,...,...
4339,Puducherry,2012,BANKS,0,0,0,0,0,0,0,0
4340,Puducherry,2012,COMMERCIAL ESTABLISHMENTS,2,58000,4,197230,26,2117964,20,647043
4341,Puducherry,2012,OTHER PLACES,2,575000,8,113100,4,25500,596,19689249
4342,Puducherry,2012,TOTAL (MANUAL),5,683000,16,2520330,77,12168314,658,23866392
4343,Puducherry,2012,TOTAL COMPUTER FROM 1 TO 7,5,683000,16,2520330,77,12168314,658,23866392

In [49]:
# Saved the given Crime by place csv file in local python and importing from there in data frame here
Crime_by_place_2001_2012_df=pd.read_csv('17_Crime_by_place_of_occurrence_2001_2012.csv')

In [50]:
Crime_by_place_2001_2012_df

,STATE/UT,YEAR,RESIDENTIAL PREMISES - Dacoity,RESIDENTIAL PREMISES - Robbery,RESIDENTIAL PREMISES - Burglary,RESIDENTIAL PREMISES - Theft,HIGHWAYS - Dacoity,HIGHWAYS - Robbery,HIGHWAYS - Burglary,HIGHWAYS - Theft,...,COMMERCIAL ESTABLISHMENTS - Burglary,COMMERCIAL ESTABLISHMENTS - Theft,OTHER PLACES - Dacoity,OTHER PLACES - Robbery,OTHER PLACES - Burglary,OTHER PLACES - Theft,TOTAL - Dacoity,TOTAL - Robbery,TOTAL - Burglary,TOTAL - Theft
0,ANDHRA PRADESH,2001,100,177,5158,4257,57,172,31,74,...,1041,2502,37,232,862,8849,214,629,7220,16751
1,ARUNACHAL PRADESH,2001,9,26,99,131,0,0,0,8,...,84,54,8,40,65,249,22,84,248,443
2,ASSAM,2001,381,191,1695,2901,46,136,7,87,...,442,967,77,261,271,1342,532,687,2423,5367
3,BIHAR,2001,818,326,2486,4741,162,826,0,257,...,231,686,210,880,505,2582,1291,2203,3233,9701
4,CHHATTISGARH,2001,54,42,3336,1417,10,38,12,72,...,370,299,15,239,420,2835,87,338,4144,4812
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
451,DELHI,2012,10,101,1249,7076,1,32,0,189,...,285,1370,17,431,178,12749,28,608,1715,22032
452,LAKSHADWEEP,2012,0,0,3,7,0,0,0,0,...,0,0,0,0,0,0,0,0,3,7
453,PUDUCHERRY,2012,1,4,47,42,0,0,0,0,...,26,20,2,8,4,596,5,16,77,658
454,TOTAL (UTs),2012,11,123,1515,7974,1,32,0,199,...,412,2042,28,468,217,13554,44,694,2149,24440
455,TOTAL (ALL-INDIA),2012,1288,2821,60698,81861,838,5000,316,27802,...,12228,29661,1797,17480,19154,181277,4314,27343,92892,337407

In [51]:
# Saved the given Human rights crime csv file in local python and importing from there in data frame here
Human_rights_2001_2012_df=pd.read_csv('35_Human_rights_violation_by_police_2001_2010.csv')

In [52]:
Human_rights_2001_2012_df

,Area_Name,Year,Group_Name,Sub_Group_Name,Cases_Registered_under_Human_Rights_Violations,Policemen_Chargesheeted,Policemen_Convicted
0,Andhra Pradesh,2001,HR_Disappearance of Persons,01. Disappearance of Persons,0.0,0.0,0.0
1,Arunachal Pradesh,2001,HR_Disappearance of Persons,01. Disappearance of Persons,0.0,0.0,0.0
2,Assam,2001,HR_Disappearance of Persons,01. Disappearance of Persons,0.0,0.0,0.0
3,Bihar,2001,HR_Disappearance of Persons,01. Disappearance of Persons,0.0,0.0,0.0
4,Chandigarh,2001,HR_Disappearance of Persons,01. Disappearance of Persons,0.0,0.0,0.0
...,...,...,...,...,...,...,...
2262,Meghalaya,2010,HR_Total Violations by Police,12. Total (Sum of 1-11 Above),0.0,0.0,0.0
2263,Nagaland,2010,HR_Total Violations by Police,12. Total (Sum of 1-11 Above),0.0,0.0,0.0
2264,Odisha,2010,HR_Total Violations by Police,12. Total (Sum of 1-11 Above),5.0,1.0,0.0
2265,Uttar Pradesh,2010,HR_Total Violations by Police,12. Total (Sum of 1-11 Above),6.0,5.0,0.0
2266,West Bengal,2010,HR_Total Violations by Police,12. Total (Sum of 1-11 Above),1.0,0.0,0.0

In [53]:
# Saved the given crime against women csv file in local python and importing from there in data frame here
ag_women_2001_2012_df=pd.read_csv('42_District_wise_crimes_committed_against_women_2001_2012.csv')

In [54]:
ag_women_2001_2012_df

,STATE/UT,DISTRICT,Year,Rape,Kidnapping and Abduction,Dowry Deaths,Assault on women with intent to outrage her modesty,Insult to modesty of Women,Cruelty by Husband or his Relatives,Importation of Girls
0,ANDHRA PRADESH,ADILABAD,2001,50,30,16,149,34,175,0
1,ANDHRA PRADESH,ANANTAPUR,2001,23,30,7,118,24,154,0
2,ANDHRA PRADESH,CHITTOOR,2001,27,34,14,112,83,186,0
3,ANDHRA PRADESH,CUDDAPAH,2001,20,20,17,126,38,57,0
4,ANDHRA PRADESH,EAST GODAVARI,2001,23,26,12,109,58,247,0
...,...,...,...,...,...,...,...,...,...,...
9012,LAKSHADWEEP,LAKSHADWEEP,2012,0,0,0,1,0,1,0
9013,LAKSHADWEEP,TOTAL,2012,0,0,0,1,0,1,0
9014,PUDUCHERRY,KARAIKAL,2012,6,2,0,2,0,1,0
9015,PUDUCHERRY,PUDUCHERRY,2012,7,14,0,7,2,5,0
9016,PUDUCHERRY,TOTAL,2012,13,16,0,9,2,6,0

In [55]:
# We have observed and assuming that the given ipc crime data set is containing almost all the data and types of crimes of other given datasets.
# So after deleting the irrespective columns & filling the still missing values manually from google, we are importing our excel file here again.
ipc_input_df=pd.read_excel('input.xlsx')

In [56]:
ipc_input_df

,Unnamed: 0,STATE/UT,DISTRICT,YEAR,MURDER,ATTEMPT TO MURDER,CULPABLE HOMICIDE NOT AMOUNTING TO MURDER,RAPE,KIDNAPPING & ABDUCTION,DACOITY,...,CRUELTY BY HUSBAND OR HIS RELATIVES,IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES,CAUSING DEATH BY NEGLIGENCE,OTHER IPC CRIMES,TOTAL IPC CRIMES,Area (sq. km),Average Literacy Rate,Male Literacy Rate,Female Literacy Rate,Unemployment rate (%)
0,0,ANDHRA PRADESH,ADILABAD,2001,101,60,17,50,46,9,...,175,0,181,1518,4154,162968.00,66.40,75.56,59.74,4.8
1,1,ANDHRA PRADESH,ANANTAPUR,2001,151,125,1,23,53,8,...,154,0,270,754,4125,162968.00,66.40,75.56,59.74,4.8
2,2,ANDHRA PRADESH,CHITTOOR,2001,101,57,2,27,59,4,...,186,0,404,1262,5818,162968.00,66.40,75.56,59.74,4.8
3,3,ANDHRA PRADESH,CUDDAPAH,2001,80,53,1,20,25,1,...,57,0,233,1181,3140,162968.00,66.40,75.56,59.74,4.8
4,4,ANDHRA PRADESH,EAST GODAVARI,2001,82,67,1,23,49,4,...,247,0,431,2313,6507,162968.00,66.40,75.56,59.74,4.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8604,8604,PUDUCHERRY,PUDUCHERRY,2010,29,16,16,2,15,2,...,6,0,198,1503,3173,19.54,86.55,92.12,81.22,7.3
8605,8605,PUDUCHERRY,KARAIKAL,2011,0,2,2,0,1,0,...,1,0,30,388,753,19.54,86.55,92.12,81.22,7.3
8606,8606,PUDUCHERRY,PUDUCHERRY,2011,32,20,10,7,11,5,...,9,0,213,1731,3609,19.54,86.55,92.12,81.22,7.3
8607,8607,PUDUCHERRY,KARAIKAL,2012,5,6,2,6,2,0,...,1,0,44,392,787,19.54,86.55,92.12,81.22,7.3
8608,8608,PUDUCHERRY,PUDUCHERRY,2012,24,21,10,7,17,5,...,5,0,219,1668,3494,19.54,86.55,92.12,81.22,7.3

In [57]:
ipc_input_df.isna().sum()

Unnamed: 0                                             0
STATE/UT                                               0
DISTRICT                                               0
YEAR                                                   0
MURDER                                                 0
ATTEMPT TO MURDER                                      0
CULPABLE HOMICIDE NOT AMOUNTING TO MURDER              0
RAPE                                                   0
KIDNAPPING & ABDUCTION                                 0
DACOITY                                                0
PREPARATION AND ASSEMBLY FOR DACOITY                   0
ROBBERY                                                0
BURGLARY                                               0
THEFT                                                  0
RIOTS                                                  0
CRIMINAL BREACH OF TRUST                               0
CHEATING                                               0
COUNTERFIETING                                         0
ARSON                                                  0
HURT/GREVIOUS HURT                                     0
DOWRY DEATHS                                           0
ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY    0
INSULT TO MODESTY OF WOMEN                             0
CRUELTY BY HUSBAND OR HIS RELATIVES                    0
IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES            0
CAUSING DEATH BY NEGLIGENCE                            0
OTHER IPC CRIMES                                       0
TOTAL IPC CRIMES                                       0
Area (sq. km)                                          0
Average Literacy Rate                                  0
Male Literacy Rate                                     0
Female Literacy Rate                                   0
Unemployment rate (%)                                  0
dtype: int64

In [58]:
ipc_input_df.dtypes

Unnamed: 0                                               int64
STATE/UT                                                object
DISTRICT                                                object
YEAR                                                     int64
MURDER                                                   int64
ATTEMPT TO MURDER                                        int64
CULPABLE HOMICIDE NOT AMOUNTING TO MURDER                int64
RAPE                                                     int64
KIDNAPPING & ABDUCTION                                   int64
DACOITY                                                  int64
PREPARATION AND ASSEMBLY FOR DACOITY                     int64
ROBBERY                                                  int64
BURGLARY                                                 int64
THEFT                                                    int64
RIOTS                                                    int64
CRIMINAL BREACH OF TRUST                                 int64
CHEATING                                                 int64
COUNTERFIETING                                           int64
ARSON                                                    int64
HURT/GREVIOUS HURT                                       int64
DOWRY DEATHS                                             int64
ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY      int64
INSULT TO MODESTY OF WOMEN                               int64
CRUELTY BY HUSBAND OR HIS RELATIVES                      int64
IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES              int64
CAUSING DEATH BY NEGLIGENCE                              int64
OTHER IPC CRIMES                                         int64
TOTAL IPC CRIMES                                         int64
Area (sq. km)                                          float64
Average Literacy Rate                                  float64
Male Literacy Rate                                     float64
Female Literacy Rate                                   float64
Unemployment rate (%)                                  float64
dtype: object

In [59]:
stpop=stpop.rename(columns={'State':'STATE/UT'})

In [60]:
stpop['STATE/UT']=stpop['STATE/UT'].str.upper()

In [61]:
# We have missing to merge saved Population data to our ipc dataset, so now merging the same with.
ipc_inputdf=pd.merge(ipc_input_df, stpop, on='STATE/UT', how='outer')

In [62]:
ipc_inputdf

,Unnamed: 0,STATE/UT,DISTRICT,YEAR,MURDER,ATTEMPT TO MURDER,CULPABLE HOMICIDE NOT AMOUNTING TO MURDER,RAPE,KIDNAPPING & ABDUCTION,DACOITY,...,CAUSING DEATH BY NEGLIGENCE,OTHER IPC CRIMES,TOTAL IPC CRIMES,Area (sq. km),Average Literacy Rate,Male Literacy Rate,Female Literacy Rate,Unemployment rate (%),S. No.,Population
0,0.0,ANDHRA PRADESH,ADILABAD,2001.0,101.0,60.0,17.0,50.0,46.0,9.0,...,181.0,1518.0,4154.0,162968.00,66.40,75.56,59.74,4.8,5.0,84580777.0
1,1.0,ANDHRA PRADESH,ANANTAPUR,2001.0,151.0,125.0,1.0,23.0,53.0,8.0,...,270.0,754.0,4125.0,162968.00,66.40,75.56,59.74,4.8,5.0,84580777.0
2,2.0,ANDHRA PRADESH,CHITTOOR,2001.0,101.0,57.0,2.0,27.0,59.0,4.0,...,404.0,1262.0,5818.0,162968.00,66.40,75.56,59.74,4.8,5.0,84580777.0
3,3.0,ANDHRA PRADESH,CUDDAPAH,2001.0,80.0,53.0,1.0,20.0,25.0,1.0,...,233.0,1181.0,3140.0,162968.00,66.40,75.56,59.74,4.8,5.0,84580777.0
4,4.0,ANDHRA PRADESH,EAST GODAVARI,2001.0,82.0,67.0,1.0,23.0,49.0,4.0,...,431.0,2313.0,6507.0,162968.00,66.40,75.56,59.74,4.8,5.0,84580777.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8605,8605.0,PUDUCHERRY,KARAIKAL,2011.0,0.0,2.0,2.0,0.0,1.0,0.0,...,30.0,388.0,753.0,19.54,86.55,92.12,81.22,7.3,NaN,NaN
8606,8606.0,PUDUCHERRY,PUDUCHERRY,2011.0,32.0,20.0,10.0,7.0,11.0,5.0,...,213.0,1731.0,3609.0,19.54,86.55,92.12,81.22,7.3,NaN,NaN
8607,8607.0,PUDUCHERRY,KARAIKAL,2012.0,5.0,6.0,2.0,6.0,2.0,0.0,...,44.0,392.0,787.0,19.54,86.55,92.12,81.22,7.3,NaN,NaN
8608,8608.0,PUDUCHERRY,PUDUCHERRY,2012.0,24.0,21.0,10.0,7.0,17.0,5.0,...,219.0,1668.0,3494.0,19.54,86.55,92.12,81.22,7.3,NaN,NaN
8609,NaN,TELANGANA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.0,35198978.0

In [63]:
ipc_inputdf.isna().sum()

Unnamed: 0                                               1
STATE/UT                                                 0
DISTRICT                                                 1
YEAR                                                     1
MURDER                                                   1
ATTEMPT TO MURDER                                        1
CULPABLE HOMICIDE NOT AMOUNTING TO MURDER                1
RAPE                                                     1
KIDNAPPING & ABDUCTION                                   1
DACOITY                                                  1
PREPARATION AND ASSEMBLY FOR DACOITY                     1
ROBBERY                                                  1
BURGLARY                                                 1
THEFT                                                    1
RIOTS                                                    1
CRIMINAL BREACH OF TRUST                                 1
CHEATING                                                 1
COUNTERFIETING                                           1
ARSON                                                    1
HURT/GREVIOUS HURT                                       1
DOWRY DEATHS                                             1
ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY      1
INSULT TO MODESTY OF WOMEN                               1
CRUELTY BY HUSBAND OR HIS RELATIVES                      1
IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES              1
CAUSING DEATH BY NEGLIGENCE                              1
OTHER IPC CRIMES                                         1
TOTAL IPC CRIMES                                         1
Area (sq. km)                                            1
Average Literacy Rate                                    1
Male Literacy Rate                                       1
Female Literacy Rate                                     1
Unemployment rate (%)                                    1
S. No.                                                 596
Population                                             596
dtype: int64

In [64]:
# After merging Population, again exporting the same df to excel for further replacing missing values manually from google.
ipc_inputdf.to_excel('C:\Capstone Project\output2.xlsx')

In [65]:
# After exporting and renamed our excel file, we are importing only the State/UT wise file in data frame after filling the missing values manually.
total_crime_df=pd.read_excel('input2.xlsx')

In [66]:
total_crime_df

,STATE/UT,MURDER,ATTEMPT TO MURDER,CULPABLE HOMICIDE NOT AMOUNTING TO MURDER,RAPE,KIDNAPPING & ABDUCTION,DACOITY,PREPARATION AND ASSEMBLY FOR DACOITY,ROBBERY,BURGLARY,...,IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES,CAUSING DEATH BY NEGLIGENCE,OTHER IPC CRIMES,TOTAL IPC CRIMES,Area (sq. km),Average Literacy Rate,Male Literacy Rate,Female Literacy Rate,Unemployment rate (%),Population
0,ANDHRA PRADESH,31756,22420,1763,13479,21239,1987,80,7605,97336,...,17,138435,482252,2018981,162968.00,66.40,75.56,59.74,4.80,84580777
1,ARUNACHAL PRADESH,841,417,36,500,857,260,4,843,2780,...,0,745,7396,27652,83743.00,66.95,73.69,59.57,11.10,1458545
2,ASSAM,15432,5662,718,16178,27939,4170,253,7467,34752,...,8,30205,181354,597764,78438.00,73.18,78.81,67.27,0.40,31205576
3,BIHAR,41245,40919,3672,13124,37220,11099,1265,23666,40293,...,440,44442,538591,1346293,94163.00,69.82,73.39,53.33,11.40,104099452
4,CHHATTISGARH,12060,7910,348,11838,3345,1468,168,5113,44656,...,5,25432,245855,561027,135191.00,71.04,81.45,60.59,0.10,25351462
5,GOA,487,269,67,350,236,55,0,298,3700,...,0,2664,9948,32051,3702.00,87.40,92.81,81.84,10.90,1458502
6,GUJARAT,13775,6112,430,4249,15246,3842,183,14383,60689,...,0,54385,729684,1385775,196024.00,79.31,87.23,70.73,1.60,60439692
7,HARYANA,10471,7434,857,6410,8656,1375,2420,5871,46504,...,0,15197,224844,595303,44212.00,76.64,85.38,66.77,22.90,25545198
8,HIMACHAL PRADESH,1454,835,130,1804,1798,45,1,236,9689,...,0,6309,87178,154948,55673.00,83.78,90.83,76.60,9.20,6864602
9,JAMMU & KASHMIR,6304,10303,347,2810,9665,188,0,1312,17050,...,0,4524,132921,259155,101387.00,66.59,76.75,56.43,23.20,15600000
10,JHARKHAND,19060,12270,1231,9159,8476,5906,524,8711,16680,...,145,13612,154239,422351,79714.00,66.40,78.45,56.21,12.20,32988134
11,KARNATAKA,19937,18512,857,5174,10029,2581,2713,17287,73298,...,47,5078,681336,1481063,191791.00,75.60,82.85,68.13,3.80,61095297
12,KERALA,4733,5327,1897,7447,2891,1364,1779,8329,46371,...,0,489,829883,1437459,38963.00,93.91,96.02,91.98,6.40,33406061
13,MADHYA PRADESH,28399,29458,1834,36087,11958,1655,1541,22314,137346,...,60,64969,1196582,2413770,308245.00,70.63,80.53,60.02,0.90,72626809
14,MAHARASHTRA,32767,20589,1409,17986,15101,8175,3657,37719,185617,...,2,134613,560060,2273436,307713.00,82.91,89.82,75.48,4.00,112372333
15,MANIPUR,1955,3536,42,387,1811,48,1121,83,755,...,0,87,12737,35072,22327.00,79.85,86.49,73.17,9.00,2855794
16,MEGHALAYA,1730,601,84,1020,729,798,17,972,1888,...,4,682,6264,25249,22429.00,75.48,77.17,73.78,2.30,2966889
17,MIZORAM,403,258,67,826,96,45,0,114,4748,...,3,315,5912,26146,21081.00,91.58,93.72,89.40,11.90,1097206
18,NAGALAND,1038,464,101,220,392,125,0,1042,1146,...,1,372,3050,13133,16579.00,80.11,83.29,76.69,9.70,1978502
19,ODISHA,14453,15652,698,11430,9729,3381,680,14705,36505,...,18,36507,246206,647946,155707.00,73.45,82.40,64.36,5.90,41974218
20,PUNJAB,9493,10397,1558,5459,7619,460,1336,1828,27621,...,2,33339,116027,384131,50362.00,76.68,81.48,71.34,7.00,27743338
21,RAJASTHAN,15844,21342,889,15798,30727,563,781,9071,65268,...,6,78350,784991,1855916,342239.00,67.06,80.51,52.66,23.80,68548437
22,SIKKIM,166,111,38,195,76,6,0,64,877,...,0,422,2037,7000,7096.00,82.20,87.29,76.43,20.71,610577
23,TAMIL NADU,20127,26597,343,6952,15303,1237,307,11272,53339,...,15,140193,1186115,2060176,130058.00,80.33,86.81,73.86,4.10,72147030
24,TRIPURA,2022,681,19,2058,1443,226,10,777,2404,...,0,1542,14044,52734,10486.00,87.75,92.18,83.15,17.00,3673917
25,UTTAR PRADESH,65443,60520,17266,19058,59266,4809,938,30767,65587,...,3,113821,626949,1858074,240928.00,69.72,79.24,59.26,4.00,199812341
26,UTTARAKHAND,2948,2627,514,1378,2852,357,36,1990,5578,...,1,6680,26338,103204,53483.00,79.63,88.33,70.70,0.50,10086292
27,WEST BENGAL,21056,14693,6333,20787,25999,2642,10807,7354,5500,...,114,37751,426194,1119304,88752.00,77.08,82.67,71.16,3.30,91276115
28,A & N ISLANDS,160,65,21,109,94,15,0,74,892,...,0,42,4443,9102,6408.00,86.27,90.11,81.84,12.40,410000
29,CHANDIGARH,243,301,79,281,640,31,33,397,2947,...,0,98,11605,40807,114.00,86.43,90.54,81.38,6.30,1415000
30,D & N HAVELI,108,31,3,56,141,40,0,30,388,...,0,148,1859,4651,491.00,77.65,86.46,65.93,0.00,546000
31,DAMAN & DIU,68,38,2,20,31,34,1,23,480,...,0,311,661,2948,112.00,87.07,91.48,79.59,0.00,243247
32,DELHI UT,12410,10554,1766,12848,50166,762,2482,12922,47110,...,2,15006,474914,1266348,1483.00,86.34,91.03,80.93,9.60,32941000
33,LAKSHADWEEP,3,6,0,7,1,3,0,0,36,...,0,0,327,743,32.00,92.28,96.11,88.25,14.70,68500
34,PUDUCHERRY,357,343,78,77,169,38,45,89,1064,...,0,2602,27490,54116,19.54,86.55,92.12,81.22,7.30,898000

In [67]:
total_crime_df.isna().sum()

STATE/UT                                               0
MURDER                                                 0
ATTEMPT TO MURDER                                      0
CULPABLE HOMICIDE NOT AMOUNTING TO MURDER              0
RAPE                                                   0
KIDNAPPING & ABDUCTION                                 0
DACOITY                                                0
PREPARATION AND ASSEMBLY FOR DACOITY                   0
ROBBERY                                                0
BURGLARY                                               0
THEFT                                                  0
RIOTS                                                  0
CRIMINAL BREACH OF TRUST                               0
CHEATING                                               0
COUNTERFIETING                                         0
ARSON                                                  0
HURT/GREVIOUS HURT                                     0
DOWRY DEATHS                                           0
ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY    0
INSULT TO MODESTY OF WOMEN                             0
CRUELTY BY HUSBAND OR HIS RELATIVES                    0
IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES            0
CAUSING DEATH BY NEGLIGENCE                            0
OTHER IPC CRIMES                                       0
TOTAL IPC CRIMES                                       0
Area (sq. km)                                          0
Average Literacy Rate                                  0
Male Literacy Rate                                     0
Female Literacy Rate                                   0
Unemployment rate (%)                                  0
Population                                             0
dtype: int64

In [68]:
total_crime_df.dtypes

STATE/UT                                                object
MURDER                                                   int64
ATTEMPT TO MURDER                                        int64
CULPABLE HOMICIDE NOT AMOUNTING TO MURDER                int64
RAPE                                                     int64
KIDNAPPING & ABDUCTION                                   int64
DACOITY                                                  int64
PREPARATION AND ASSEMBLY FOR DACOITY                     int64
ROBBERY                                                  int64
BURGLARY                                                 int64
THEFT                                                    int64
RIOTS                                                    int64
CRIMINAL BREACH OF TRUST                                 int64
CHEATING                                                 int64
COUNTERFIETING                                           int64
ARSON                                                    int64
HURT/GREVIOUS HURT                                       int64
DOWRY DEATHS                                             int64
ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY      int64
INSULT TO MODESTY OF WOMEN                               int64
CRUELTY BY HUSBAND OR HIS RELATIVES                      int64
IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES              int64
CAUSING DEATH BY NEGLIGENCE                              int64
OTHER IPC CRIMES                                         int64
TOTAL IPC CRIMES                                         int64
Area (sq. km)                                          float64
Average Literacy Rate                                  float64
Male Literacy Rate                                     float64
Female Literacy Rate                                   float64
Unemployment rate (%)                                  float64
Population                                               int64
dtype: object

In [69]:
total_crime_df.columns

Index(['STATE/UT', 'MURDER', 'ATTEMPT TO MURDER',
       'CULPABLE HOMICIDE NOT AMOUNTING TO MURDER', 'RAPE',
       'KIDNAPPING & ABDUCTION', 'DACOITY',
       'PREPARATION AND ASSEMBLY FOR DACOITY', 'ROBBERY', 'BURGLARY', 'THEFT',
       'RIOTS', 'CRIMINAL BREACH OF TRUST', 'CHEATING', 'COUNTERFIETING',
       'ARSON', 'HURT/GREVIOUS HURT', 'DOWRY DEATHS',
       'ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY',
       'INSULT TO MODESTY OF WOMEN', 'CRUELTY BY HUSBAND OR HIS RELATIVES',
       'IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES',
       'CAUSING DEATH BY NEGLIGENCE', 'OTHER IPC CRIMES', 'TOTAL IPC CRIMES',
       'Area (sq. km)', 'Average Literacy Rate', 'Male Literacy Rate',
       'Female Literacy Rate', 'Unemployment rate (%)', 'Population'],
      dtype='object')

In [70]:
total_crime_df.to_excel("C:\\Capstone Project\\totalcrime.xlsx")